<ul>
  <!--
  <li>
    <a routerLinkActive="active" routerLink="/home">
      Home
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/about">
      About
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/contact">
      Contact
    </a>
  </li>
  -->
  <li>
    <a routerLinkActive="active" routerLink="/auth/login">
      Login
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/auth/signup">
      Sign up
    </a>
  </li>
  <li *ngIf="cart.isVisible" class="cart">
    <iwdf-cart [total]="cart.total"></iwdf-cart>
  </li>
</ul>
