@import "theme-variables";
ul {
  display: flex;
  li {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  a {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #af5328;
  }
  .active {
  }
  .cart {
    height: 100px;
    margin-left: 1rem;
    background-color: #af5328;
  }
}
