<section class="container m-t-4">
  <ng-container *ngIf="loaded$ | async; else loader">
    <div class="row">
      <div class="col-sm-8">
        <h2>Menu</h2>
        <default-resto-menu
          [dishes]="dishes$ | async"
          (added)="onAddToCart($event)"
        ></default-resto-menu>
      </div>
      <div class="col-sm-4">
        <div class="row resto__order" *ngIf="cart$ | async as cart">
          <div class="col-sm-2">
            <mat-icon>add_shopping_cart</mat-icon>
          </div>
          <div class="col-sm-8">
            <h2>Totale ordine</h2>
          </div>
          <div class="col-sm-2 text-right">
            <strong>{{ cart.total }}</strong>
          </div>
          <mat-card class="resto__card">
            <iwdf-order
              [cart]="cart"
              (remove)="onRemoveToCart($event)"
            ></iwdf-order>
          </mat-card>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loader>
    <iwdf-loader size="3" stroke="3"></iwdf-loader>
  </ng-template>
</section>
