<h2 mat-dialog-title>Manage category</h2>
<mat-dialog-content>
  <div class="m-b-4">
    <admin-dishes-category-form
      #cmp
      [error]="error$ | async"
      [loading]="loading$ | async"
      (submitted)="onSubmit($event)"
    ></admin-dishes-category-form>
  </div>
  <div class="m-b-4 bg-primary">
    <admin-dishes-category-grid
      [dataSource]="categories$ | async"
      (edited)="onEdit($event)"
    ></admin-dishes-category-grid>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()" cdkFocusInitial>Close</button>
</mat-dialog-actions>
