<div class="users-form">
  <form
    class="users-form__form"
    (ngSubmit)="onSubmit()"
    [formGroup]="frm"
    novalidate
  >
    <div class="alert alert-danger" role="alert" *ngIf="error" translate>
      admin.error.msg
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="2rem"
      fxLayout.xs="column"
      fxLayoutGap.xs="0"
      fxLayout.sm="column"
      fxLayoutGap.sm="0"
    >
      <div fxLayout="row" fxFlex="70">
        <div fxFlex fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'admin.users.label.firstname' | translate }}
            </mat-label>
            <input
              type="text"
              matInput
              formControlName="firstname"
              placeholder=""
            />
            <mat-error *ngIf="frm.controls['firstname'].hasError('required')">
              <span translate>admin.users.error.firstname</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'admin.users.label.lastname' | translate }}
            </mat-label>
            <input
              type="text"
              matInput
              formControlName="lastname"
              placeholder=""
            />
            <mat-error *ngIf="frm.controls['lastname'].hasError('required')">
              <span translate>admin.users.error.lastname</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'admin.users.label.email' | translate }}</mat-label>
            <input
              type="text"
              matInput
              formControlName="email"
              placeholder=""
            />
            <mat-error *ngIf="frm.controls['email'].hasError('required')">
              <span translate>admin.users.error.email</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'admin.users.label.mobile' | translate }}</mat-label>
            <input
              type="number"
              matInput
              formControlName="mobile"
              placeholder=""
            />
            <mat-error *ngIf="frm.controls['mobile'].hasError('required')">
              <span translate>admin.users.error.mobile</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="!selected" appearance="outline">
            <mat-label>password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              autocomplete="current-password"
              placeholder=""
            />
            <mat-icon matSuffix (click)="hide = !hide">
              {{ hide ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error *ngIf="frm.controls.password.invalid">
              <span translate>login.error.password</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex fxLayout="column">
          <mat-form-field>
            <mat-select placeholder="Select a role" formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="m-b-4">
            <p>Upload an avatar</p>
            <iwdf-upload-control
              [imagePreview$]="imagePreview$"
              formControlName="avatar"
            ></iwdf-upload-control>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <button
        fxFlex
        mat-raised-button
        [color]="loading ? '' : 'primary'"
        type="submit"
        [disabled]="isDisabled"
      >
        <iwdf-button-spinner
          [value]="'admin.label.submit' | translate"
          [loading]="loading"
        ></iwdf-button-spinner>
      </button>
    </div>
  </form>
</div>
