<form
  class="dishes-category-form"
  (ngSubmit)="onSubmit()"
  [formGroup]="frm"
  novalidate
>
  <div class="alert alert-danger" *ngIf="error" translate>
    admin.error.msg
  </div>
  <div fxLayout="column">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>{{ 'admin.dishes.label.category' | translate }}</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Enter to submit"
      />
      <mat-error *ngIf="frm.controls['name'].hasError('required')">
        <span translate>admin.dishes.error.category</span>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      [color]="loading ? '' : 'primary'"
      type="submit"
      [disabled]="isDisabled"
    >
      <iwdf-button-spinner
        [value]="'admin.label.submit' | translate"
        [loading]="loading"
      ></iwdf-button-spinner>
    </button>
  </div>
</form>
