<ng-container *ngIf="loaded$ | async; else loader">
  <admin-users-grid
    [data]="users$ | async"
    (edited)="onEdit($event)"
    (deleted)="onDelete($event)"
  ></admin-users-grid>
</ng-container>
<ng-template #loader>
  <iwdf-loader size="4" stroke="3"></iwdf-loader>
</ng-template>
