<div class="order">
  <ul class="order__group">
    <li class="order__item" *ngFor="let dish of cart.dishes">
      <div class="order__action">
        <span>
          <button mat-icon-button color="warn" (click)="removeDish(dish)">
            <mat-icon aria-label="remove">
              remove
            </mat-icon>
          </button>
        </span>
        <span>{{ dish.qty }}&nbsp;X&nbsp;</span>
        <span class="order__fill-action">{{ dish.name }}</span>
        <span>&euro;&nbsp;{{ dish.qty * dish.price }}</span>
      </div>
    </li>
  </ul>
  <div class="order__total">
    <span>Totale</span>
    <span>{{ cart.total }}</span>
  </div>
</div>
