.order {
  &__group {
  }
  &__item {
    padding: 0.75rem 0;
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__fill-action {
    flex: 1 1 auto;
  }
  &__total {
    display: flex;
    justify-content: space-between;
  }
}
