<div class="dishes-form">
  <form
    class="dishes-form__form"
    (ngSubmit)="onSubmit()"
    [formGroup]="frm"
    novalidate
  >
    <div class="alert alert-danger" role="alert" *ngIf="error" translate>
      admin.error.msg
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="2rem"
      fxLayout.xs="column"
      fxLayoutGap.xs="0"
      fxLayout.sm="column"
      fxLayoutGap.sm="0"
    >
      <div fxLayout="row" fxFlex="70">
        <div fxFlex fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'admin.dishes.label.name' | translate }}</mat-label>
            <input type="text" matInput formControlName="name" placeholder="" />
            <mat-error *ngIf="frm.controls['name'].hasError('required')">
              <span translate>admin.dishes.error.name</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let ingredient of ingredients.controls; let i = index"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="onRemoveChip(i)"
              >
                {{ ingredient.value }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="New Ingredient"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="onAddChip($event)"
              />
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex fxLayout="column">
          <div class="m-b-2" fxLayout fxLayoutAlign="space-between center">
            <span>Add a category</span>
            <button mat-mini-fab color="accent" (click)="onAddCategory($event)">
              <mat-icon aria-label="add a category">add</mat-icon>
            </button>
          </div>
          <mat-form-field>
            <mat-select
              placeholder="Select a category"
              formControlName="categoryId"
            >
              <mat-option
                *ngFor="let category of categories"
                [value]="category._id"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex appearance="outline">
            <mat-label>{{ 'admin.dishes.label.price' | translate }}</mat-label>
            <input
              type="number"
              matInput
              formControlName="price"
              placeholder=""
            />
            <mat-error *ngIf="frm.controls['price'].hasError('required')">
              <span translate>admin.dishes.error.price</span>
            </mat-error>
          </mat-form-field>
          <div class="m-b-4">
            <p>Upload an image</p>
            <iwdf-upload-control
              [imagePreview$]="imagePreview$"
              formControlName="image"
            ></iwdf-upload-control>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <button
        fxFlex
        mat-raised-button
        [color]="loading ? '' : 'primary'"
        type="submit"
        [disabled]="isDisabled"
      >
        <iwdf-button-spinner
          [value]="'admin.label.submit' | translate"
          [loading]="loading"
        ></iwdf-button-spinner>
      </button>
    </div>
  </form>
</div>
