<div class="resto-dish" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    {{ dish.name }}
  </div>
  <div>
    {{ dish.ingredients.join(',') }}
  </div>
  <div>
    {{ dish.price }}
  </div>
  <div class="resto-dish__actions">
    <button mat-fab>
      <mat-icon color="primary" aria-label="add dish">add</mat-icon>
    </button>
  </div>
</div>
