<div class="auth" fxLayout fxLayoutAlign="center">
  <div class="auth__hint" fxHide.xs="true" fxFlex="50%">
    <div class="auth__welcome" fxLayout="column" fxLayoutAlign="end">
      <h1>Pizza Express</h1>
      <h2 class="m-b-5" translate>auth.welcome</h2>
    </div>
  </div>
  <div fxFlex="50%" fxFlex.xs="100%" ngStyle.xs="margin: 0 15px;">
    <div fxLayout="column" class="auth__form">
      <auth-layout-header></auth-layout-header>
      <div class="m-t-5" fxFlex="1 0 auto">
        <router-outlet></router-outlet>
      </div>
      <auth-layout-footer></auth-layout-footer>
    </div>
  </div>
</div>
