@import "theme-variables";

:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}
.auth {
  min-height: inherit;
  &__hint {
    min-height: inherit;
    background-image: linear-gradient(
        rgba(
          $primary-default-red,
          $primary-default-green,
          $primary-default-blue,
          0.25
        ),
        rgba(
          $primary-default-red,
          $primary-default-green,
          $primary-default-blue,
          0.25
        )
      ),
      url("/assets/images/auth-bck.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: 50%;
  }
  &__welcome {
    min-height: inherit;
    h1 {
      margin-bottom: 0;
    }
    h1,
    h2 {
      mix-blend-mode: color-dodge;
      color: #fff;
      text-align: center;
    }
  }
  &__form {
    width: 100%;
    height: 100%;
    background-color: rgba(251, 233, 231, 0.1);
  }
}
