@import "theme-variables";
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 100px;
  /* background-color: #4aa413; */
  background: rgba(74, 164, 19, 0.8);
  background: linear-gradient(
    90deg,
    rgba(74, 164, 19, 1) 68%,
    rgba(255, 61, 0, 0.5) 100%
  );
}
main {
  display: flex;
  flex: 1 0 auto;
  padding-top: 100px;
}
footer {
  background-color: #4aa413;
}
.footer {
  height: 50px;
}
