<header>
  <div class="container">
    <default-layout-header></default-layout-header>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container footer" fxLayout="row" fxLayoutAlign="center center">
    <default-layout-footer></default-layout-footer>
  </div>
</footer>
