<div class="account">
  <button class="account__trigger" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon aria-label="account">face</mat-icon>
    <span class="account__current p-l-3">{{ current }}</span>
  </button>
  <mat-menu class="account__menu" #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon aria-label="account">airline_seat_individual_suite</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</div>
