.account {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  max-width: 150px;
  &__current {
    text-transform: uppercase;
  }
  &__trigger {
    width: 150px;
    max-width: 150px;
    color: #fff;
    text-align: right;
  }
  &__menu {
    width: 150px;
    max-width: 150px;
  }
}
