<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="65%" fxFlex.xs="100%">
    <div
      class="alert alert-danger m-l-4 m-r-4"
      role="alert"
      *ngIf="error"
      translate
    >
      signup.error.msg
    </div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="formGroupOne">
        <form [formGroup]="formGroupOne">
          <ng-template matStepLabel>Identity</ng-template>
          <div fxFlex fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>
                {{ 'signup.firstname' | translate }}
              </mat-label>
              <input
                type="text"
                matInput
                formControlName="firstname"
                placeholder=""
              />
              <mat-error
                *ngIf="formGroupOne.controls['firstname'].hasError('required')"
              >
                <span translate>signup.error.firstname</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>
                {{ 'signup.lastname' | translate }}
              </mat-label>
              <input
                type="text"
                matInput
                formControlName="lastname"
                placeholder=""
              />
              <mat-error
                *ngIf="formGroupOne.controls['lastname'].hasError('required')"
              >
                <span translate>signup.error.lastname</span>
              </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end center">
              <button
                mat-button
                mat-fab
                color="accent"
                matStepperNext
                [disabled]="isDisabledOne"
              >
                <mat-icon aria-label="next">
                  keyboard_arrow_right
                </mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroupTwo">
        <form [formGroup]="formGroupTwo">
          <ng-template matStepLabel>deliveries</ng-template>
          <div fxFlex fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'signup.email' | translate }}</mat-label>
              <input
                type="text"
                matInput
                formControlName="email"
                placeholder=""
              />
              <mat-error
                *ngIf="formGroupTwo.controls['email'].hasError('required')"
              >
                <span translate>signup.error.email.required</span>
              </mat-error>
              <mat-error
                *ngIf="formGroupTwo.controls['email'].hasError('email')"
              >
                <span translate>signup.error.email.valid</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'signup.mobile' | translate }}</mat-label>
              <input
                type="number"
                matInput
                formControlName="mobile"
                placeholder=""
              />
              <mat-error
                *ngIf="formGroupTwo.controls['mobile'].hasError('required')"
              >
                <span translate>signup.error.mobile</span>
              </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button mat-button mat-fab color="accent" matStepperPrevious>
                <mat-icon aria-label="previous">
                  keyboard_arrow_left
                </mat-icon>
              </button>
              <button
                mat-button
                mat-fab
                color="accent"
                matStepperNext
                [disabled]="isDisabledTwo"
              >
                <mat-icon aria-label="next">
                  keyboard_arrow_right
                </mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroupThree">
        <form [formGroup]="formGroupThree">
          <ng-template matStepLabel>Credentials</ng-template>
          <div fxFlex fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                autocomplete="current-password"
                placeholder=""
              />
              <mat-icon matSuffix (click)="hide = !hide">
                {{ hide ? 'visibility_off' : 'visibility' }}
              </mat-icon>
              <mat-error
                *ngIf="formGroupThree.controls['password'].hasError('required')"
              >
                <span translate>signup.error.password</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Retype password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="repassword"
                autocomplete="current-password"
                placeholder=""
              />
              <mat-error
                *ngIf="
                  formGroupThree.controls['repassword'].hasError('required')
                "
              >
                <span translate>signup.error.repassword</span>
              </mat-error>
              <mat-error
                *ngIf="
                  formGroupThree.controls['repassword'].hasError(
                    'invalidRePassword'
                  )
                "
              >
                <span translate>signup.error.password</span>
              </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button mat-button mat-fab color="accent" matStepperPrevious>
                <mat-icon aria-label="previous">
                  keyboard_arrow_left
                </mat-icon>
              </button>
              <button
                mat-button
                mat-fab
                color="accent"
                matStepperNext
                [disabled]="isDisabledThree"
                (click)="onSubmit()"
              >
                <mat-icon aria-label="send">
                  send
                </mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
    <div>
      <p class="text-left m-t-4 m-l-5">
        <span translate>signup.login.msg</span>
        <a routerLink="/auth/login" translate>
          signup.login.link
        </a>
      </p>
    </div>
  </mat-card>
</div>
