<h2 mat-dialog-title>Delete</h2>
<mat-dialog-content class="mat-typography">
  <h3>Do yoy want really delete this item?</h3>
  <h4>{{ data }}</h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="no()" cdkFocusInitial>
    No
  </button>
  <button mat-raised-button color="warn" (click)="yes()">
    Yes
  </button>
</mat-dialog-actions>
