<ng-container *ngIf="dataSource.length > 0; else noCategories">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <div fxLayout fxLayoutAlign="end center">
          <button mat-mini-fab color="accent" (click)="onEdit(row)">
            <mat-icon aria-label="update a dish">create</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
<ng-template #noCategories>
  <div class="alert alert-info" role="alert">
    There are no category yet.
  </div>
</ng-template>
