@import "theme-variables";
.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}
.nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-left: $admin-layout-spacer;
  }
  .active {
    color: #263238;
  }
  a {
    flex: 1 1 0;
    color: #455a64;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    text-decoration-skip: objects;
    transition: color 0.1s ease-out;
    &:hover {
      color: #455a64;
    }
    &:focus {
      color: #455a64;
      outline: none;
      box-shadow: 0 0 0 0.2rem #263238;
    }
    &:active {
      color: #455a64;
    }
  }
}
