<ul class="nav">
  <li class="mat-elevation-z1">
    <a routerLinkActive="active" routerLink="/admin/dashboard" translate>
      admin.nav.dashboard
    </a>
  </li>
  <li class="mat-elevation-z1">
    <a routerLinkActive="active" routerLink="/admin/dishes" translate>
      admin.nav.dishes
    </a>
  </li>
  <li class="mat-elevation-z1">
    <a routerLinkActive="active" routerLink="/admin/orders" translate>
      admin.nav.orders
    </a>
  </li>
  <li class="mat-elevation-z1">
    <a routerLinkActive="active" routerLink="/admin/users" translate>
      admin.nav.users
    </a>
  </li>
</ul>
