@import "theme-variables";

.mat-sidenav-container {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background: transparent;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: $admin-layout-header-height;
  padding-right: $admin-layout-spacer;
  padding-left: $admin-layout-spacer;
  background-color: rgba(225, 190, 231, 1);
}
.sidenav {
  position: fixed;
  top: $admin-layout-header-height;
  bottom: 0;
  left: 0;
  width: 230px;
  background-color: rgba(225, 190, 231, 0.3);
}
.ico-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.ico-btn {
  color: $admin-gray;
}
.container {
  min-height: 100vh;
  padding-top: calc(#{$admin-layout-header-height} + 3rem);
  background-color: #fff;
}
main {
  width: 100%;
}
.main-spacer-lg {
  padding-right: 3rem;
  padding-left: 3rem;
}
.main-spacer-xs {
  padding-right: 1rem;
  padding-left: 1rem;
}
.toggle,
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $admin-layout-header-height;
}
