<header
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="mat-elevation-z1"
>
  <div class="toggle">
    <button mat-icon-button class="ico-btn" (click)="onToggle()">
      <mat-icon class="ico-menu" aria-label="Open sidenav">menu</mat-icon>
    </button>
    <admin-layout-brand></admin-layout-brand>
  </div>

  <div class="user">
    <admin-layout-notifications
      [content]="notifications"
    ></admin-layout-notifications>
    <admin-layout-account
      (logout)="onLogout()"
      [account]="account$ | async"
    ></admin-layout-account>
  </div>
</header>

<mat-drawer-container>
  <mat-drawer
    #drawer
    class="sidenav mat-elevation-z1"
    mode="side"
    [opened]="opened$ | async"
  >
    <admin-layout-nav></admin-layout-nav>
  </mat-drawer>
  <mat-drawer-content class="container" fxLayout="column">
    <main class="main-spacer-lg" ngClass.xs="main-spacer-xs" fxFlex="1 1 auto">
      <router-outlet></router-outlet>
    </main>
    <admin-layout-footer></admin-layout-footer>
  </mat-drawer-content>
</mat-drawer-container>
