.wrapper {
  position: relative;
}
.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(176, 190, 197, 0.7);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
