<div fxLayout="column">
  <div class="wrapper m-b-2" *ngIf="imagePreview$ | async as imagePreview">
    <div class="loader" *ngIf="loading">
      <iwdf-loader size="3" stroke="3"></iwdf-loader>
    </div>
    <img class="img-fluid" [src]="imagePreview" [alt]="" />
  </div>
  <div fxLayout>
    <button fxFlex mat-flat-button color="accent" (click)="onFile($event)">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <input
      type="file"
      #file
      accept="image/png, image/jpeg, image/jpg"
      (change)="onImageUpload($event)"
    />
  </div>
</div>
