.admin-theme {
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .alert-danger {
    color: darken(mat-color($app-admin-warn), 30%);
    background-color: lighten(mat-color($app-admin-warn), 30%);
    border-color: lighten(mat-color($app-admin-warn), 30%);
  }
  .alert-info {
    color: darken(mat-color($app-admin-accent), 30%);
    background-color: lighten(mat-color($app-admin-accent), 30%);
    border-color: lighten(mat-color($app-admin-accent), 30%);
  }
}
.default-theme {
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .alert-danger {
    color: darken(mat-color($app-default-warn), 30%);
    background-color: lighten(mat-color($app-default-warn), 30%);
    border-color: lighten(mat-color($app-default-warn), 30%);
  }
  .alert-info {
    color: darken(mat-color($app-default-accent), 30%);
    background-color: lighten(mat-color($app-default-accent), 30%);
    border-color: lighten(mat-color($app-default-accent), 30%);
  }
}
