.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}
