/*
 * Application global variables.
 */
// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-admin-primary: mat-palette($mat-orange, A400, A100, A700);
$app-admin-accent: mat-palette($mat-blue, A200, A100, A700);

$app-admin-warn: mat-palette($mat-red, 500, A200, A700);

// Create the theme object (a Sass map containing all of the palettes).
$app-admin-theme: mat-light-theme(
  $app-admin-primary,
  $app-admin-accent,
  $app-admin-warn
);

// stylelint-disable-next-line scss/dollar-variable-default
$primary-admin-red: red(map_get($mat-deep-orange, 500));
// stylelint-disable-next-line scss/dollar-variable-default
$primary-admin-green: green(map_get($mat-deep-orange, 500));
// stylelint-disable-next-line scss/dollar-variable-default
$primary-admin-blue: blue(map_get($mat-deep-orange, 500));

$custom-admin-typography: mat-typography-config(
  $font-family: "Roboto, monospace",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
