a {
  color: mat-color($app-admin-accent);
  cursor: pointer;
  transition: color 0.1s ease-out;
  &:hover {
    color: darken(mat-color($app-admin-accent), 15%);
  }
  &:focus {
    color: darken(mat-color($app-admin-accent), 15%);
    outline: none;
    box-shadow: 0 0 0 0.2rem lighten(mat-color($app-admin-accent), 15%);
  }
  &:active {
    color: darken(mat-color($app-admin-accent), 15%);
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}
