// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme-variables";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.default-theme {
  @include angular-material-theme($app-default-theme);
  @include angular-material-typography($custom-default-typography);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #4f4934;
  }
}

.admin-theme {
  @include angular-material-theme($app-admin-theme);
  @include angular-material-typography($custom-admin-typography);
}

@import "./alert";
@import "./alignment";
@import "./bootstrap";
@import "./reboot";
@import "./spacing";
@import "./typo";
