<div class="dishes-grid">
  <div class="m-b-4" fxLayout fxLayoutAlign="end center">
    <span class="p-r-4">Add a dish</span>
    <a mat-fab routerLink="/admin/dishes/create">
      <mat-icon aria-label="add a dish">add</mat-icon>
    </a>
  </div>
  <ng-container *ngIf="data.length > 0; else noDishes">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <img
            [src]="
              element.image
                ? cdnUrl + '/' + PREFIX + element.image
                : '/assets/images/no-available-200.png'
            "
            alt=""
          />
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Ingredients Column -->
      <ng-container matColumnDef="ingredients">
        <th mat-header-cell *matHeaderCellDef>Ingredients</th>
        <td mat-cell *matCellDef="let element">{{ element.ingredients }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <div fxLayout fxLayoutAlign="end center">
            <div class="m-r-3">
              <button mat-mini-fab color="accent" (click)="onEdit(row)">
                <mat-icon aria-label="update a dish">create</mat-icon>
              </button>
            </div>
            <button mat-mini-fab color="warn" (click)="onDelete(row)">
              <mat-icon aria-label="delete a dish">delete_sweep</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
  <ng-template #noDishes>
    <div class="alert alert-info" role="alert">
      There are no dishes yet.
    </div>
  </ng-template>
</div>
