.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.line {
  flex: 1 1 auto;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  border-bottom: 1px solid #cfd8dc;
}
