@import "theme-variables";

:host {
  display: flex;
  flex: 1 1 auto;
}

.home {
  flex: 1 1 auto;
  h2,
  h3 {
    color: #fff;
  }
  h4 {
    color: #fb8c00;
  }
  h2,
  h3,
  h4 {
    text-align: center;
  }
  &__search {
    margin-top: 2rem;
  }
}
.home-lg {
  background-color: #fb8c00;
  background-image: url("/assets/images/shop-bck.jpg");
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -800px;
  background-size: cover;
}
