<div class="home home-lg" ngClass.xs="home-xs">
  <section
    class="container m-t-6"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h2>Il bello è prenderci gusto</h2>
    <h3>Ordina online dal tuo ristorante preferito</h3>
    <div class="m-t-6">
      <a mat-raised-button color="accent" routerLink="/resto">Ordina!</a>
    </div>
  </section>
</div>
