<header class="layout-header" fxLayout fxLayoutAlign="center">
  <h1>
    <a routerLink="" class="layout-header__logo">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
  </h1>
</header>
