<div class="users-grid">
  <div class="m-b-4" fxLayout fxLayoutAlign="end center">
    <span class="p-r-4">Add a user</span>
    <a mat-fab routerLink="/admin/users/create">
      <mat-icon aria-label="add a user">add</mat-icon>
    </a>
  </div>
  <ng-container *ngIf="data.length > 0; else noData">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Avatar Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let element">
          <img
            [src]="
              element.avatar
                ? cdnUrl + '/' + PREFIX + element.avatar
                : '/assets/images/no-available-200.png'
            "
            alt=""
          />
        </td>
      </ng-container>

      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
        <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
        <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">
          <a href="mailto:{{ element.email }}">{{ element.email }}</a>
        </td>
      </ng-container>

      <!-- Mobile Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
        <td mat-cell *matCellDef="let element">
          <a href="https://wa.me/{{ element.mobile }}">
            {{ element.mobile }}
          </a>
        </td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let element">
          {{ element.role }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <div fxLayout fxLayoutAlign="end center">
            <div class="m-r-3">
              <button mat-mini-fab color="accent" (click)="onEdit(row)">
                <mat-icon aria-label="update an user">create</mat-icon>
              </button>
            </div>
            <button mat-mini-fab color="warn" (click)="onDelete(row)">
              <mat-icon aria-label="delete an user">delete_sweep</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
  <ng-template #noData>
    <div class="alert alert-info" role="alert">
      There are no user yet.
    </div>
  </ng-template>
</div>
