:host {
  display: block;
}
.resto-menu {
  &__category {
    color: #ffab00;
  }
  &__dishes {
    li {
      padding-left: 24px;
      cursor: pointer;
      background-color: #fff;
      transition: all 0.3s ease-out;
      &:hover {
        background-color: #cfd8dc;
        transition: all 0.3s ease-out;
      }
    }
  }
  .mat-icon.next,
  .mat-icon.previous {
  }
}
