<div class="resto-menu">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      *ngFor="
        let category of dishes | keyvalue;
        let i = index;
        let f = first;
        let l = last
      "
      [expanded]="step === i"
      (opened)="setStep(i)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4 class="resto-menu__category">{{ category.key }}</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="resto-menu__dishes">
        <li *ngFor="let dish of category.value" (click)="onAddToCart(dish)">
          <default-resto-dish [dish]="dish"></default-resto-dish>
        </li>
      </ul>
      <mat-action-row>
        <button *ngIf="!f" mat-button color="warn" (click)="prevStep()">
          <mat-icon class="previous">keyboard_arrow_left</mat-icon>
        </button>
        <button *ngIf="!l" mat-button color="primary" (click)="nextStep()">
          <mat-icon class="next">keyboard_arrow_right</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
