<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="65%" fxFlex.xs="100%">
    <form (ngSubmit)="onSubmit()" [formGroup]="frm" novalidate>
      <div class="alert alert-danger" role="alert" *ngIf="error" translate>
        login.error.msg
      </div>
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'login.email' | translate }}</mat-label>
          <input
            type="email"
            matInput
            [errorStateMatcher]="matcher"
            formControlName="email"
            autocomplete="email"
            placeholder=""
          />
          <mat-error *ngIf="frm.controls['email'].hasError('required')">
            <span translate>login.error.email.required</span>
          </mat-error>
          <mat-error *ngIf="frm.controls['email'].hasError('email')">
            <span translate>login.error.email.valid</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'login.password' | translate }}</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            autocomplete="current-password"
            placeholder=""
          />
          <mat-icon matSuffix (click)="hide = !hide">
            {{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="frm.controls['password'].hasError('required')">
            <span translate>login.error.password</span>
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          [color]="loading ? '' : 'primary'"
          type="submit"
          [disabled]="isDisabled"
        >
          <iwdf-button-spinner
            [value]="'login.submit' | translate"
            [loading]="loading"
          ></iwdf-button-spinner>
        </button>
        <p class="text-right m-t-4">
          <span translate>login.signup.msg</span>
          <a routerLink="/auth/signup" translate>
            login.signup.link
          </a>
        </p>
      </div>
    </form>
  </mat-card>
</div>
