// Theme customization
@import "theme";

.mat-button,
.mat-flat-button,
.mat-raised-button {
  line-height: 50px !important;
  text-decoration: none !important;
  text-transform: uppercase;
}
.mat-raised-button.mat-primary,
.mat-raised-button.mat-accent {
  color: #fff !important;
}
.mat-form-field {
  font-size: 1.3rem;
}
.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0;
}
.mat-header-row .mat-header-cell,
.mat-header-row .mat-sort-header-button {
  text-transform: uppercase;
}

table {
  width: 100%;
}
.mat-sort-header-sorted {
  color: #424242;
}
.mat-step-header .mat-step-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.mat-step-header .mat-step-label.mat-step-label-active {
  color: rgba(66, 66, 66, 0.9);
}
.mat-step-header .mat-step-label {
  color: rgba(66, 66, 66, 0.8);
}
[type="file"] {
  display: none;
}
p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}
