.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  &__item {
    display: flex;
    align-items: center;
    color: #fff;
  }
}
